{% if cart.item_count > 0 %}

<form action="/cart" method="post">

  {% for item in cart.items %}

    <a href="{{ collection_url }}{{ item.url }}">
      <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
    </a>

    <a class="" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>

    <a class="" href="{{ collection_url }}{{ item.url }}">{{ item.product.title }}</a>

    <input class="item-info-quantity text-center" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-variant-id="{{ item.variant_id }}" />
    <div class="item-info-price text-right" data-variant-id="{{ item.variant_id }}">{{ item.line_price | money }}</div>

  {% endfor %}

  <div class="">Subtotal</div>
  <div class="">{{ cart.total_price | money }}</div>

</form>

{% else %}

<div>

  <div>Your cart is empty!</div>
  <div>You can continue browsing <a href="/collections/all">here</a>.</div>

</div>

{% endif %}
