// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ============================================================================

$pure-white:           rgba(255, 255, 255, 1);
$alt-pure-white:       rgba(241, 241, 241, 1);
$white:                rgba(255, 253, 249, 1);
$alt-white:            rgba(255, 253, 249, 1);
$gray:                 rgba(100, 100, 100, 1);
$black:                rgba(30, 30, 30, 1);
$orange:               rgba(255, 134, 39, 1);
$alt-orange:           rgba(177, 93, 28, 1);
$aqua:                 rgba(66, 180, 183, 1);
$bs-color-primary:     rgba(38, 90, 136, 1);
$bs-color-success:     rgba(92, 184, 92, 1);
$bs-color-info:        rgba(91, 192, 222, 1);
$bs-color-warning:     rgba(240, 173, 78, 1);
$bs-color-danger:      rgba(217, 83, 79, 1);

// ============================================================================
//  ______     __     ______     ______     ______
// /\  ___\   /\ \   /\___  \   /\  ___\   /\  ___\
// \ \___  \  \ \ \  \/_/  /__  \ \  __\   \ \___  \
//  \/\_____\  \ \_\   /\_____\  \ \_____\  \/\_____\
//   \/_____/   \/_/   \/_____/   \/_____/   \/_____/
//
// ============================================================================

$size-12:              8.181rem;
$size-11:              6.854rem;
$size-10:              5.056rem;
$size-9:               4.236rem;
$size-8:               3.125rem;
$size-7:               2.618rem;
$size-6:               1.931rem;
$size-5:               1.618rem;
$size-4:               1.194rem;
$size-3:               1.000rem;
$size-2:               0.738rem;
$size-1:               0.618rem;
$size-max:             8.181rem;
$size-important:       3.125rem;
$size-base:            1.000rem;
$size-min:             0.618rem;

// ============================================================================
//   ______   ______     __   __     ______   ______
//  /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
//  \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//   \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//    \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// ============================================================================

$helvetica-neue:      'helvetica neue', helvetica, arial, sans-serif;
$comic-sans:          'Comic Sans MS', cursive, sans-serif;
$montserrat:          'Montserrat', sans-serif;
$weight-ultralight:    200;
$weight-light:         300;
$weight-normal:        400;
$weight-medium:        500;
$weight-demi-bold:     600;
$weight-bold:          700;
$weight-heavy:         800;
$weight-black:         900;

// ============================================================================
//   __   __   ______     ______     ______
//  /\ \ / /  /\  __ \   /\  == \   /\  ___\
//  \ \ \'/   \ \  __ \  \ \  __<   \ \___  \
//   \ \__|    \ \_\ \_\  \ \_\ \_\  \/\_____\
//    \/_/      \/_/\/_/   \/_/ /_/   \/_____/
//
// ============================================================================

$black-border: 1px solid $black;
$breakpoint: 768px;
