.overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

.overlay-container {
  display: none;
  margin-top: $size-6;
}
